In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from config import g_key

In [13]:
# Load the csv file from WeatherPy
csv_path = 'output_data/cities.csv'
csv_file = pd.read_csv(csv_path)
cities_df = pd.DataFrame(csv_file)
cities_df["Date"] = pd.to_datetime(cities_df["Date"], unit="s")
cities_df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ushuaia,75,AR,2020-01-27 23:37:16,87,-54.80,-68.30,48.20,24.16
1,Balassagyarmat,90,HU,2020-01-27 23:41:45,100,48.07,19.30,32.00,2.24
2,Fortuna,90,US,2020-01-27 23:31:52,87,40.60,-124.16,55.99,8.05
3,Luderitz,0,NaN,2020-01-27 23:41:47,55,-26.65,15.16,64.40,14.99
4,Khatanga,1,RU,2020-01-27 23:41:47,92,71.97,102.50,-16.49,5.95

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
#Store coordinates and weights
locations = cities_df[["Lat", "Lng"]].astype(float)
weight = cities_df['Humidity'].astype(float)
#Create heat map that displays the humidity for every city
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 2)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
good_temp1 = cities_df.loc[cities_df['Max Temp'] >= 70]
good_temp = good_temp1.loc[good_temp1['Max Temp'] <= 80]
good_temp.head(15)

# Wind speed less than 10 mph.
low_wind = good_temp.loc[good_temp['Wind Speed'] <= 10]
low_wind.head(15)

# Zero cloudiness --> changed to less than 10% cloudy.
no_cloud = low_wind.loc[low_wind['Cloudiness'] == 0]
no_cloud.head(15)

# Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
30,Geraldton,0,AU,2020-01-27 23:42:09,83,-28.77,114.60,71.60,3.36
125,Cockburn Town,0,TC,2020-01-27 23:43:30,72,21.46,-71.14,76.46,5.37
191,Keffi,0,NG,2020-01-27 23:44:20,18,8.85,7.87,70.39,5.10
472,Araouane,0,ML,2020-01-27 23:48:06,11,18.90,-3.53,71.60,5.55
540,Rawson,0,AR,2020-01-27 23:46:13,37,-43.30,-65.10,75.25,8.79

In [33]:
# Find the closest hotel to each perfect city.
from pprint import pprint

hotel_df = no_cloud.copy()
hotel_df['Hotel Name'] = ''

base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "-28.7797,114.6144"
}
response = requests.get(base_url,params=params).json()
#pprint(response)
print(response['results'][0]['name'])

hotel_df.iloc[0,5] = -28.7797
hotel_df.iloc[0,6] = 114.6144
hotel_df.iloc[1,5] = 21.4675
hotel_df.iloc[1,6] = 71.1389
hotel_df.iloc[2,5] = 8.8471
hotel_df.iloc[2,6] = 7.8776
hotel_df.iloc[3,5] = 18.9043
hotel_df.iloc[3,6] = 3.5275
hotel_df.iloc[4,5] = 43.2999
hotel_df.iloc[4,6] = 65.0995
hotel_df

Hospitality Geraldton

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
30,Geraldton,0,AU,2020-01-27 23:42:09,83,-28.7797,114.6144,71.60,3.36,
125,Cockburn Town,0,TC,2020-01-27 23:43:30,72,21.4675,71.1389,76.46,5.37,
191,Keffi,0,NG,2020-01-27 23:44:20,18,8.8471,7.8776,70.39,5.10,
472,Araouane,0,ML,2020-01-27 23:48:06,11,18.9043,3.5275,71.60,5.55,
540,Rawson,0,AR,2020-01-27 23:46:13,37,43.2999,65.0995,75.25,8.79,

In [40]:
for index, row in hotel_df.iterrows():
    try:
        city = f'{row[5]},{row[6]}'
        print(city)

        # add keyword to params dict
        params['location'] = city
        print(params)

        response = requests.get(base_url, params=params).json()
        print(response['results'][0]['name'])
        time.sleep(2)

        # extract results
        hotel_df.loc[index, 'Hotel Name'] = response['results'][0]['name']
   
    except:
        print('Something went wrong!')

-28.7797,114.6144
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDFe1nJYMUeMIL5_ZLnfc2usPnoYHe3ybc', 'location': '-28.7797,114.6144'}
Hospitality Geraldton
Something went wrong!
21.4675,71.1389
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDFe1nJYMUeMIL5_ZLnfc2usPnoYHe3ybc', 'location': '21.4675,71.1389'}
Dhruv Mistry's Home ( Vishvakarma Place )
Something went wrong!
8.8471,7.8776
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDFe1nJYMUeMIL5_ZLnfc2usPnoYHe3ybc', 'location': '8.8471,7.8776'}
Imam Family
Something went wrong!
18.9043,3.5275
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDFe1nJYMUeMIL5_ZLnfc2usPnoYHe3ybc', 'location': '18.9043,3.5275'}
Something went wrong!
43.2999,65.0995
{'radius': 5000, 'type': 'lodging', 'key': 'AIzaSyDFe1nJYMUeMIL5_ZLnfc2usPnoYHe3ybc', 'location': '43.2999,65.0995'}
Something went wrong!

In [39]:
hotel_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
30,Geraldton,0,AU,2020-01-27 23:42:09,83,-28.7797,114.6144,71.60,3.36,Hospitality Geraldton
125,Cockburn Town,0,TC,2020-01-27 23:43:30,72,21.4675,71.1389,76.46,5.37,Dhruv Mistry's Home ( Vishvakarma Place )
191,Keffi,0,NG,2020-01-27 23:44:20,18,8.8471,7.8776,70.39,5.10,Imam Family
472,Araouane,0,ML,2020-01-27 23:48:06,11,18.9043,3.5275,71.60,5.55,
540,Rawson,0,AR,2020-01-27 23:46:13,37,43.2999,65.0995,75.25,8.79,

In [41]:
hotel_layer = gmaps.symbol_layer(
    locations, fill_color='rgba(0, 150, 0, 0.4)',
    stroke_color='rgba(0, 0, 150, 0.4)', scale=2
)


fig = gmaps.figure()
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [43]:
fig = gmaps.figure()

fig.add_layer(heat_layer)
fig.add_layer(hotel_layer)

fig

Figure(layout=FigureLayout(height='420px'))